body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

header {
    background-color: #ffffff; 
    padding: 10px 0;
    text-align: left;
    font-weight: normal;
    color: #336699; 
    width: 100%;
    height: 50px; 
    margin-bottom: 20px;
}


nav {
    background-color: #4b739b;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff; 
    text-decoration: none;
}


section {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

section h2 {
    color: #336699;
    border-bottom: 2px solid #336699; 
    padding-bottom: 10px;
}
S

footer {
    text-align: center;
    margin-top: 90px;
    padding: 20px;
    background-color: #336699; 
    color: #ffffff; 
    width: 100%;
    position: fixed;
    bottom: 0;
}


.dashboard {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.value {
    font-size: 16px;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}