body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f0f8ff; /* Bleu clair */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #336699; /* Bleu */
    text-align: center;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-info p {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #336699; /* Bleu */
    color: #ffffff; /* Blanc */
}

.comment-box {
    margin-bottom: 50px;
}

.comment-box textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.comment-box button {
    padding: 10px 20px;
    background-color: #336699; /* Bleu */
    color: #ffffff; /* Blanc */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.mission-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"]:checked + label + .mission-details {
    display: block;
}
.historique-mission {
    font-weight: bold; /* Police en gras */
    color: rgb(17, 17, 20); /* Couleur bleue */
}