table {
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid #336699;
}

th {
    background-color: #f2f7fc;
    font-weight: normal;
    color: #336699;
}

td:last-child {
    font-weight: bold;
    color: #000000;
}

body {
    background-color: #f0f8ff;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #bcd4e6;
}

footer {
    background-color: #336699;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.signup-box {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: #ecf5fb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signup-box h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-box p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"],
.signup-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-box input[type="submit"] {
    background-color: #336699;
    color: #ffffff;
    cursor: pointer;
}

.signup-box input[type="submit"]:hover {
    background-color: #205681;
}

.signup-box a {
    text-decoration: none;
    color: #336699;
}